				<div id="at-custom-sidebar" class="at-custom-sidebar atss-left">
					<form method="post">
						<div class="cp_wrapper">
							<label for="couleur" class="required"></label>
							<input type="color" id="couleur" name="couleur">
						</div>
						<button class="btn btn-sm btn-warning" type="submit">Go</button>
						<a href="{{path('couleurSession')}}" style="position:absolute;" class="btn btn-sm btn-info">Stop</a>
					</form>
				</div>