{% extends 'layout_admin.html.twig' %}

{% block title %}Modification de l'attributs
{% endblock %}

{% block monTitre %}Attributs
	
{% endblock %}
{% block body %}

	<div class="col-10">
		{{form_start(form)}}
		{{form_widget(form)}}
		<a href="{{path('admin_attributs')}}" class="btn btn-primary">Retour</a>
		<input type="submit" value="valider" class="btn btn-success">

		{{form_end(form)}}

	</div>
</div>{% endblock %}
