<h4 class="text-white">Configurer</h4>
	<p>
		<a class="btn text-white dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample10" role="button" aria-expanded="false" aria-controls="collapseExample" 10>
			<i class="fas fa-cog align-middle"></i>&nbsp;&nbsp;Paramètres de la boutique
		</a>
	</p>
	<div class="collapse" id="collapseExample10">
		<ul class="text-white">
			<li class="nav-item">
				<a class="nav-link link-light" href="#content-paramètres">Paramètres généraux</a>
			</li>
			<li class="nav-item">
				<a class="nav-link link-light" href="#content-paracommande">Commandes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link link-light" href="#content-paraclient">Clients</a>
			</li>
			<li class="nav-item">
				<a class="nav-link link-light" href="#content-paracontanct">Contact</a>
			</li>
			<li class="nav-item">
				<a class="nav-link link-light" href="#content-seo">Trafic et SEO</a>
			</li>
			<li class="nav-item">
				<a class="nav-link link-light" href="#content-rechercher">Rechercher</a>
			</li>
		</ul>
	</div>
	<p>
		<a class="btn text-white dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample11" role="button" aria-expanded="false" aria-controls="collapseExample11">
			<i class="fas fa-cogs align-middle"></i>&nbsp;&nbsp;Paramètres avancés
		</a>
	</p>
	<div class="collapse" id="collapseExample11">
		<ul class="text-white">
			<li class="nav-item">
				<a class="nav-link link-light" href="#content-information">Informations</a>
			</li>

			<li class="nav-item">
				<a class="nav-link link-light" href="#content-performance">Performances</a>
			</li>
			<li class="nav-item">
				<a class="nav-link link-light" href="#content-administration">Administration</a>
			</li>
			<li class="nav-item">
				<a class="nav-link link-light" href="#content-email">Email</a>
			</li>
			<li class="nav-item">
				<a class="nav-link link-light" href="#content-importer">Importer</a>
			</li>
			<li class="nav-item">
				<a class="nav-link link-light" href="#content-equipe">Equipe</a>
			</li>
			<li class="nav-item">
				<a class="nav-link link-light" href="#content-basededonnee">Base de données</a>
			</li>
			<li class="nav-item">
				<a class="nav-link link-light" href="#content-logs">Logs</a>
			</li>
		</ul>
	</div>