{% extends 'layout_admin.html.twig' %}

{% block title %}
	Interface Administration
{% endblock %}

{% block monTitre %}{% endblock %}

{% block body %}
	<div class="col-10">
		<div class="row">
			<div class="col-6">
				{{ render_chart(chartOne) }}
			</div>
			<div class="col-6"></div>
		</div>
		<div class="row">
			<div class="col-8"></div>
			<div class="col-4">
				{{ render_chart(chartTwo) }}</div>
		</div>
	</div>
</div>
{% endblock %}
