<div class="container-fluid">
	<div class="row">
		<div class="col-2">
			<nav id="myScrollspy" data-spy="scroll" data-target="#myScrollspy" class="fixed" style="height:1152px;overflow-y: scroll;">
				<hr class="text-white"></hr>
			{% include "admin/vendre.html.twig" %}
			<hr class="text-white"></hr>
		{% include "admin/personnaliser.html.twig" %}
		<hr class="text-white"></hr>
	{% include "admin/configurer.html.twig" %}
</nav></div>
