<!DOCTYPE html PUBLIC "-//W3C//DTDXHTML1.0Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>Inscription Spotted</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
		<style type="text/css">

			.main_container {
				width: 850px;
				height: 100%;
				background: #110b23;
				overflow: hidden;
				margin: 100px auto 0;
				box-shadow: 0 0 7px #cdcccc;
			}


			html {
				width: 100%;
			}

			body {
				width: 100%;
				margin: 0;
				padding: 0;
				-webkit-font-smoothing: antialiased;
				background: #E7E7E7; 
			}

			p,
			h1,
			h2,
			h3,
			h4 {
				margin-top: 0;
				margin-bottom: 0;
				padding-top: 0;
				padding-bottom: 0;
			}

			table {
				font-size: 14px;
				border: 0;
			}

			img {
				border: none !important;
			}
		</style>
	</head>
	<body style="margin: 0; padding: 0;">

		<div
			class="main_container">

			<!--  Header  -->
			<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f98550" background="https://i.ibb.co/pJx5W0B/hero-gradient.png" style="height:450px; background-image: url('https://i.ibb.co/pJx5W0B/hero-gradient.png'); background-size: cover; -webkit-background-size: cover;">
				<tr>
					<td>

						<table width="600" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse;">
							<tbody>
								<tr>
									<td width="100%" height="40"></td>
								</tr>
								<tr>
									<td height="169"></td>
								</tr>
								<tr>
									<td style="text-align:center; color: #fff; font-family: 'Raleway', arial; font-weight:600; font-size: 36px; text-transform:uppercase; letter-spacing:3px;">Félicitation {{nom}} {{prenom}}({{mail}}) vous êtes bien inscrit chez Spotted !</td>
								</tr>
								<tr>
									<td height="133"></td>
								</tr>
								<tr>
									<td>
										<table width="24" align="center" style="border-collapse:collapse;">
											<tr>
												<td><img width="24" height="63" src="https://i.ibb.co/k2K6Mck/mouse.png" alt="Scroll Down" border="0" style="display:block;"/></td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>

					</td>
				</tr>
			</table>


			<!--  services  -->

			<!--  Services  -->
			<table width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
				<tbody>

					<tr>
						<td width="100%" height="100"></td>
					</tr>
					<tr>
						<td>

							<table width="390" align="left" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
								<tbody>
									<tr>
										<td>

											<!--  Service1  -->
											<table width="180" align="left" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
												<tbody>
													<tr>
														<td align="center">
															<img src="https://i.ibb.co/pXsJdtb/s1.png" alt="Service 1" border="0" style="display: block;"/>
														</td>
													</tr>
													<tr>
														<td width="100%" height="40"></td>
													</tr>
													<tr>
														<td align="center" style="color: #fff; font-family: 'Raleway', arial; font-weight:600; font-size: 16px; text-transform:uppercase;">Gérer votre compte</td>
													</tr>
													<tr>
														<td width="100%" height="30"></td>
													</tr>
													<tr>
														<td align="center" style="color: #8a8a8a; font-family: 'Raleway'; font-size: 14px; line-height:22px;">Vous pouvez désormais modifier les informations liès à votre compte sur notre site internet en vous connectant !</td>
													</tr>
												</tbody>
											</table>

											<!--  Service2  -->
											<table width="180" align="right" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
												<tbody>
													<tr>
														<td align="center">
															<img src="https://i.ibb.co/wCmzDqr/s2.png" alt="Service 1" border="0" style="display: block;"/>
														</td>
													</tr>
													<tr>
														<td width="100%" height="40"></td>
													</tr>
													<tr>
														<td align="center" style="color: #fff; font-family: 'Raleway', arial; font-weight:600; font-size: 16px; text-transform:uppercase;">Commander très rapidement</td>
													</tr>
													<tr>
														<td width="100%" height="30"></td>
													</tr>
													<tr>
														<td align="center" style="color: #8a8a8a; font-family: 'Raleway'; font-size: 14px; line-height:22px;">Pour commander c'est très rapide, nous livrons en quelques jours et cela partout dans la France</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>

							<!--  Service3  -->
							<table width="180" align="right" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
								<tbody>
									<tr>
										<td align="center">
											<img src="https://i.ibb.co/mFZnm0Q/s3.png" alt="Service 1" border="0" style="display: block;"/>
										</td>
									</tr>
									<tr>
										<td width="100%" height="40"></td>
									</tr>
									<tr>
										<td align="center" style="color: #fff; font-family: 'Raleway', arial; font-weight:600; font-size: 16px; text-transform:uppercase;">Service clients à l'écoute</td>
									</tr>
									<tr>
										<td width="100%" height="30"></td>
									</tr>
									<tr>
										<td align="center" style="color: #8a8a8a; font-family: 'Raleway'; font-size: 14px; line-height:22px;">Nous répondrons à toutes vos questions auprès de notre service clients qui sont très actifs !</td>
									</tr>
								</tbody>
							</table>

						</td>
					</tr>
					<tr>
						<td width="100%" height="100"></td>
					</tr>
				</tbody>
			</table>
			<!--  features  -->
			<table width="600" align="center" cellpadding="0" border="0" cellspacing="0" style="border-collapse:collapse;">
				<tbody>

					<!--  sppace  -->
					<tr>
						<td width="100%" height="100"></td>
					</tr>

					<!--  feature1  -->
					<tr>
						<td>

							<table width="280" align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
								<tbody>
									<tr>
										<td width="100%" height="240">
											<img src="https://i.ibb.co/xYfQ23Q/feature1.png" alt="" border="0" style="display: block;"/>
										</td>
									</tr>
								</tbody>
							</table>

							<!--  space  -->
							<table width="40" align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
								<tbody>
									<tr>
										<td width="40"></td>
									</tr>
								</tbody>
							</table>

							<!--  feature2  -->
							<table width="280" align="right" border="0" cellpadding="0" cellspacing="0">
								<tbody>
									<tr>
										<td style="color: #fff; font-family: 'Raleway', arial; font-weight:600; font-size: 20px; text-transform:uppercase; line-height:28px;">Profiter de tous nos promotions.</td>
									</tr>
									<tr>
										<td width="100%" height="40"></td>
									</tr>
									<tr>
										<td style="color: #898989; font-family: 'Raleway', arial; font-size: 16px; line-height:32px;">Soyez au courant toute nos offres et promotions grâce à notre newsletters et profiter au maximum et économiser</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>

					<!--  space  -->
					<tr>
						<td width="100%" height="120"></td>
					</tr>

					<!--  feature2  -->
					<tr>
						<td>
							<table width="280" align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
								<tbody>
									<tr>
										<td style="color: #fff; font-family: 'Raleway', arial; font-weight:600; font-size: 20px; text-transform:uppercase; line-height:28px;">Retrouvez toute notre nouveautés.</td>
									</tr>
									<tr>
										<td width="100%" height="40"></td>
									</tr>
									<tr>
										<td style="color: #898989; font-family: 'Raleway', arial; font-size: 16px; line-height:32px;">Nosu recevons pleins de nouveautés toutes les semaines donc soyez à l'affut pour avoir la classe !<td>
									</tr>
								</tbody>
							</table>
							<table width="40" align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
								<tbody>
									<tr>
										<td width="40"></td>
									</tr>
								</tbody>
							</table>
							<table width="280" align="right" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
								<tbody>
									<tr>
										<td width="100%" height="240">
											<img src="https://i.ibb.co/S6bLqry/feature2.png" alt="" border="0" style="display: block;"/>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td width="100%" height="100"></td>
					</tr>
				</tbody>
			</table>
			<!--  footer  -->
			<table width="100%" bgcolor="#110b23" cellpadding="0" border="0" cellspacing="0" style="border-collapse:collapse;">
				<tbody>
					<tr>
						<td>
							<table width="600" align="center" cellpadding="0" border="0" cellspacing="0" style="border-collapse:collapse;">
								<tbody>
									<tr>
										<td width="100%" height="40px"></td>
									</tr>
									<tr>
										<td>
											<!--  footer logo  -->
											<table align="left" cellpadding="0" border="0" cellspacing="0" style="border-collapse:collapse;">
												<tbody>
													<tr>
														<td></td>
														<td width="20"></td>
														<td>
															<table cellpadding="0" border="0" cellspacing="0" style="border-collapse:collapse;">
																
																<td><img src="https://i.ibb.co/svd36W6/spotted.png" width="50" alt="spotted" border="0"/></td>
																<tr>
																	<td width="100%" height="16"></td>
																	
																</tr>
																<tr>
																	
																	<td style="color: #fff; font-family: 'Raleway'; font-size: 12px;text-align: center;">© Tout droits réserver</td>
																</tr>
															</table>
														</td>
													</tr>
												</tbody>
											</table>

											<!--  footer social media  -->
											<table align="right" cellpadding="0" border="0" cellspacing="0" style="border-collapse:collapse;">
												<tbody>
													<tr>
														<td width="100%" height="8"></td>
													</tr>
													<tr>
														<td>
															<a href="https://www.facebook.com/nilobstat"><img src="https://i.ibb.co/fdVnCXN/facebook.png" alt="facebook" border="0"/></a>
															&nbsp;&nbsp;&nbsp;&nbsp;
															<a href="https://twitter.com/nilobstat?lang=fr"><img src="https://i.ibb.co/fpB6Pdk/twitter.png" alt="twitter" border="0"/></a>
															&nbsp;&nbsp;&nbsp;&nbsp;
															<a href="https://www.google.com/search?q=Nilobstat&oq=nilobstat&aqs=chrome.0.69i59j46i175i199i512j69i59j69i61l2j69i60.2016j0j7&sourceid=chrome&ie=UTF-8"><img src="https://i.ibb.co/GdvkGxh/google.png" alt="google+" border="0"/></a>
															&nbsp;&nbsp;&nbsp;&nbsp;
															<a href="https://www.instagram.com/agencenilobstat/?hl=fr"><img src="https://i.ibb.co/xs86hzC/dribbble.png" alt="dribbble" border="0"/></a>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
									<tr>
										<td width="100%" height="40px"></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</body>
</html>
