{% extends 'layout_admin.html.twig' %}

{% block title %}Modification du pays
{% endblock %}

{% block monTitre %}Pays

{% endblock %}
{% block body %}

	<div class="col-10">
		{{form_start(form)}}
		{{form_widget(form)}}
		<a href="{{path('admin_pays')}}" class="btn btn-primary">Retour</a>
		<input type="submit" value="valider" class="btn btn-success">

		{{form_end(form)}}

	</div>
</div>{% endblock %}
