{% extends 'base.html.twig' %}

{% block title %}Error 404
{% endblock %}
{% block monTitre %}Page non trouvée
{% endblock %}
{% block body %}
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>:(</h1>
        </div>
        <h2>404 - Page non trouvé</h2>
        <p>La page que vous recherchez a peut-être été supprimée si son nom a changé ou est temporairement indisponible</p>
        <a href="../">Accueil</a>
    </div>
</div>
{% endblock %}
